.container-fluid
  .row
    .col-md-12
      %h1
        Recoveries!

  %hr
  - @bikes.each do |bike|
    .row
      .bike
        %h3
          = link_to "#{bike.year} #{bike.manufacturer} #{bike.model}", bike.bi_url
        .col-md-4
          %dl.dl-horizontal
            %dt
              Serial:
            %dd
              #{bike.serial}
            %dt
              Color:
            %dd
              #{bike.color}
            %dt
              Description:
            %dd
              #{bike.description}
        .col-md-4
          %dl.dl-horizontal
            %dt
              Stolen from:
            %dd
              #{bike.stolen_location}
            %dt
              Date stolen:
            %dd
              #{bike.date_stolen.strftime("%m/%d/%Y")}
            %dt
              Date recovered:
            %dd
              #{bike.date_recovered.strftime("%m/%d/%Y")}
            - if bike.recovery_story
              %dt
                Recovery Story:
              %dd
                #{bike.recovery_story}
        .col-md-2
          = link_to image_tag(bike.thumb, alt: "#{bike.year} #{bike.manufacturer} #{bike.model}"), bike.bi_url
